.lr-buttons-container {
    display: flex;
}

.lr-buttons {
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;

    margin-right: 1rem;
    width: 5.9rem;
    height: 2.5rem;
    border-radius: 3.125rem;

    background-color: var(--primary-color);

    font-size: 1rem;
    text-align: center;
    color: var(--font-color);
}

.lr-buttons:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* Responsive styles for screens with a max width of 768px (e.g., tablets) */
@media (max-width: 768px) {
    .lr-buttons {
        width: 4.425rem;
        height: 1.875rem;

        font-size: 0.75rem;
    }
}

/* Responsive styles for screens with a max width of 480px (e.g., mobile phones) */
@media (max-width: 480px) {
    .lr-buttons {
        width: 2.95rem;
        height: 1.25rem;

        font-size: 0.5rem;
    }
}