<img routerLink="/" class = "logo" src = "../../assets/images/logo.png">
<div class="login-form">
    <h1>Login</h1>
    <div class = "form-input">
        <form [formGroup]="formLogin">
            <input type="text" id="email" placeholder="Email" name="email" required formControlName="email"><br>
            <input type="password" id="password" placeholder="Password" name="password" required formControlName="password"><br>
            <div class="submit-button">Submit</div>
        </form>
    </div>
    <h4>Don't have an account? <a routerLink="/register">Register</a></h4>
</div>