<app-header></app-header>
<div class="content">
    <h1>INTRODUCTION TO HAMSTERS</h1>
    <mat-accordion>
        <mat-accordion multi="false">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>General Information</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Welcome to the world of hamsters! 
                    These small, charming creatures make wonderful pets, offering companionship and entertainment with their unique personalities and behaviors. 
                    Whether you’re a first-time pet owner or a seasoned enthusiast, understanding the basics of hamster care is essential to providing a happy and healthy environment for your furry friend.
                    <br>
                    <br>
                    Hamsters come in various species, each with its own set of characteristics and care requirements.
                    They are nocturnal rodents, which means they are most active during the night. 
                    It's important to note that most hamsters are solitary animals. 
                    They must be housed alone as they can become aggressive and territorial with other hamsters.
                    <br>
                    <br>
                    Proper hamster care involves providing an appropriate cage with plenty of enrichment, a balanced diet, and regular health checks. It's important to remember that hamsters are delicate creatures, and their well-being depends on the environment and care they receive.
                    In this guide, you’ll find comprehensive information on how to care for your hamster. By following these guidelines, you can ensure that your hamster lives a long, happy, and healthy life.
                    <br>
                    <br>
                    Let's embark on this journey together and discover how to create the best possible home for your hamster!
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Behavioral Traits</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Wild hamsters are active and territorial, covering long distances daily for food and resources. They build complex tunnels for sleeping and hoarding, safe from predators. 
                    Understanding these natural behaviors helps in ensuring their welfare in captivity.
                    <br>
                    <br>
                    Most hamster species are strictly solitary and prefer living alone. Housing them together can cause stress, injury, and obesity. 
                    To avoid aggression and harm, always keep hamsters individually.


                    Hamsters are most active at dawn and dusk (crepuscular). They should not be disturbed during the day and need predictable lighting conditions.
                    Hamsters are solitary, preferring to live alone. Co-housing hamsters can lead to stress, injury, and obesity.
                    <br>
                    <br>
                    "Ghost hamsters" are those that come out late at night, avoiding human contact. 
                    Owners might not see them for months. This is normal, as some hamsters simply prefer solitude.
                    To monitor an elusive hamster, check their food consumption and use a camera for remote observation. 
                    For health checks, set an alarm for their peak activity hours to observe them.
                    If a previously social hamster becomes reclusive, monitor their eating and drinking habits and watch for signs of illness like diarrhea or blood. 
                    Consult a veterinarian if you suspect health issues.
                    <br>
                    <br>
                    Hamsters clean themselves using sand baths, not water. 
                    Provide a large, covered sand bath to prevent stress and avoid using dust or scented sand.
                    Hamsters create deep and complex burrows with different chambers for sleeping, storing food, and urinating. 
                    Providing ample bedding reduces stress behaviors like bar biting. A multi-chamber hide is also recommended.
                    Hamsters naturally hoard food in their burrows. Scatter feeding stimulates their foraging instincts. 
                    Do not remove hoards unless soiled. Food deprivation increases hoarding but not food intake. Ensure regular feeding to prevent stress.
                    <br>
                    <br>
                    Hamsters may enter a state called torpor to conserve energy when conditions are unfavorable. This can last from hours to days. 
                    Check for breathing and heartbeats if your hamster appears unresponsive. Ensure their environment is within the ideal temperature range (64-75°F | 18-24°C) and consult a vet if needed.
                    <br>
                    <br>
                    Stereotypies are repetitive behaviors indicating stress, boredom, or inadequate living conditions. Examples include bar chewing, pacing, and lethargy. Provide enrichment, a varied diet, and a stimulating environment to prevent these behaviors and ensure your hamster's well-being.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-accordion>

    <h1>SUPPLIES</h1>
    <mat-accordion>
        <mat-accordion multi="false">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Cage</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    A hamster's cage should be as large as possible. The bigger the cage, the happier and healthier your hamster will be. 
                    There is no maximum size for a hamster cage, but here are the minimum requirements: the shortest side should be at least 15 inches, with a minimum floor space of 775 sq in.
                    <br>
                    <br>
                    Hamster enclosures should prioritize floor space over height, as hamsters are ground-dwellers and not suited for climbing. 
                    A single-level enclosure is better for them than a multi-level one. Multiple levels do not count towards the total floor space.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Bedding and Substrates</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Hamsters need deep bedding to satisfy their natural burrowing instincts and stay healthy. 
                    In the wild, hamsters dig burrows that can be quite deep, and we should try to replicate that in captivity. 
                    Aim for at least 8 inches (20 cm) of bedding, but more is better—12 inches (30 cm) or deeper is ideal, especially for Syrian hamsters.
                    <br>
                    <br>
                    Use bedding that holds burrows well and isn't dusty, as dust can cause respiratory issues. 
                    Good options include unscented paper bedding, aspen bedding, and birch bedding. 
                    Avoid softwood shavings like pine and cedar, which contain harmful phenols. 
                    Supplementary bedding materials like corncob, coconut fiber, soft granule bedding, and hemp can add texture but may not hold burrows well on their own. 
                    Hay can be layered with other bedding to help stabilize tunnels.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Food Bowl</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Ceramic food bowls are better than plastic ones because they can't be chewed or tipped over. 
                    You don't have to use a bowl since you can scatter-feed instead, but bowls make it easier to keep track of how much your hamster is eating.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Water Bottle / Water Bowl</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    A water bottle should be 4 oz, 6 oz, or 8 oz in size. 
                    Avoid bottles larger than 8 oz as the ball bearing might be too heavy for the hamster. 
                    Since hamsters drink less than 1 oz per day, even the smallest bottles are sufficient. 
                    Clean the bottle thoroughly with soap and water once a week.
                    <br>
                    <br>
                    Some hamster owners use water bowls, which can work well if they are very shallow and kept clean. 
                    Place the bowl on a shelf away from the bedding to reduce soiling.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Wheel</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Hamsters are very active pets, and a wheel is essential for their exercise. 
                    It must be plastic or wooden with a flat running surface, as wire and mesh wheels can cause injuries like bumblefoot and broken toes.
                    Choose a larger wheel to prevent injury. 
                    Dwarf hamsters need a wheel at least 8" in diameter, while Syrian hamsters require a wheel that is 10" or larger. 
                    Hamsters often prefer larger wheels, sometimes even choosing a 13" wheel over a 9" one.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Hideout</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Plastic igloos are common and inexpensive but may not be ideal for hamsters that chew a lot. 
                    Ceramic hideouts are chew-proof and easy to clean. Wooden and edible hutches are fine but cannot be cleaned and must be thrown away if too soiled, making them unsuitable for hamsters that use their nests as toilets.
                    The hideout should be large enough for the hamster to move comfortably and filled with enough bedding or nesting material for the hamster to completely cover itself.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Toys</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Empty, open cages don't suit most hamsters, as they feel exposed and may become nervous. 
                    Furnish the cage with plenty of toys for physical and mental stimulation. 
                    Good choices include extra hideouts, digging pits, tubes, bridges, tunnels, and puzzle playgrounds.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Sand Bath</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    A sand bath is essential for hamsters to exfoliate and absorb oils into their coats, keeping them clean and healthy.
                    Without a proper sand bath, hamsters can appear oily or disheveled.
                    Avoid using "bathing dust" and "calcium sand". Bathing dust is too find and can cause respiratory infections, while calcium sand can cause intestinal blockages if ingested. 
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Playpen</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Cleaning Supplies</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-accordion>

    <h1>DIET</h1>
    <mat-accordion>
        <mat-accordion multi="false">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Seed Mix and Lab Blocks</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Fresh Vegetables and Fruits</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Treats</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Sprays</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-accordion>

    <h1>GENERAL CARE</h1>
    <mat-accordion>
        <mat-accordion multi="false">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Healthy Environment</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Daily Cage Cleaning</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Weekly Hamster Check Up</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-accordion>

    <h1>HEALTH</h1>
    <mat-accordion>
        <mat-accordion multi="false">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Exotic Veterinarian</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="topic-title"><h2>Common Ailments and Illnesses</h2></mat-panel-title>
                </mat-expansion-panel-header>
                <p>

                </p>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel class="category">
                <mat-expansion-panel-header>
                    <mat-panel-title class="category-title">DIFFERENT SPECIES</mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title">Syrian Hamster</mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title">Campbell's Desert Hamster</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>hello</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title">Winter White Hamster</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>hello</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title">Roborovski's Desert Hamster</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>hello</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title">Chinese Dwarf Hamster</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>hello</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title">Campbell's Desert Hamster</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>hello</p>
                    </mat-expansion-panel>
            </mat-expansion-panel> -->

            <!-- <mat-expansion-panel class="category">
                <mat-expansion-panel-header>
                    <mat-panel-title class="category-title">BEHAVIOR AND PERSONALITY</mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title"> </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title"> </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>hello</p>
                    </mat-expansion-panel>
            </mat-expansion-panel>
            
            <mat-expansion-panel class="category">
                <mat-expansion-panel-header>
                    <mat-panel-title class="category-title">HANDLING AND TAMING</mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title"> </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title"> </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>hello</p>
                    </mat-expansion-panel>
            </mat-expansion-panel> -->
        </mat-accordion>
    </mat-accordion>
</div>
