.nav-buttons-container {
    display: flex;
}

.nav-buttons {
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    display: flex;

    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 3.125rem;
    width: 8rem;
    height: 3rem;

    background-color: var(--primary-color);
    
    font-size: 1rem;
    text-align: center;
    color: var(--font-color);
}

.nav-buttons:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.nav-icons {
    margin-right: 0.6rem;
    width: 1.5rem;
    height: 1.5rem;
}

/* Responsive styles for screens with a max width of 768px (e.g., tablets) */
@media (max-width: 768px) {
    .nav-buttons {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: 6rem;
        height: 2.25rem;

        font-size: 0.75rem;
    }
    .nav-icons {
        margin-right: 0.6rem;
        width: 1.125rem;
        height: 1.125rem;
    }
}

/* Responsive styles for screens with a max width of 480px (e.g., mobile phones) */
@media (max-width: 480px) {
    .nav-buttons {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 4rem;
        height: 1.5rem;

        font-size: 0.5rem;
    }
    .nav-icons {
        margin-right: 0.6rem;
        width: 0.75rem;
        height: 0.75rem;
    }
}