<div class="nav-buttons-container">
    <div matRipple routerLink="/guide" class="nav-buttons">
        <img src="../../assets/images/guide-icon.png" class="nav-icons">
        <span>Guide</span>
    </div>
    <div matRipple routerLink="/forum" class="nav-buttons">
        <img src="../../assets/images/forum-icon.png" class="nav-icons">
        <span>Forum</span>
    </div>
    <div matRipple routerLink="/profile" class="nav-buttons">
        <img src="../../assets/images/hamster-icon.png" class="nav-icons">
        <span>Profile</span>
    </div>
</div>