.content {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;

    margin-top: 3rem;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

/* Responsive styles for screens with a max width of 768px (e.g., tablets) */
@media (max-width: 768px) {
    .content {
        margin-top: 2.25rem;
    }

    h1 {
        font-size: 3.75rem; 
    }
}

/* Responsive styles for screens with a max width of 480px (e.g., mobile phones) */
@media (max-width: 480px) {
    .content {
        margin-top: 1.5rem;
    }
    
    h1 {
        font-size: 2.5rem; 
    }
}