.register-form {
    margin: 0 auto; /* Center the element horizontally */
    margin-bottom: 7rem;
    border-radius: 1.875rem;
    width: auto;
    max-width: 30rem;
    height: auto;
    padding-bottom: 2rem;

    background-color: var(--primary-color);

    text-align: center;
    color: var(--font-color);

    h1 {
        padding-top: 2rem;

        font-size: 2.8rem;
    }

    a {
        text-decoration: none; /* Remove underline from text */
        color: var(--quaternary-color);
    }

    a:hover {
        color: var(--font-color);
    }
}

.form-input {
    width: 24rem;

    margin: 0 auto;
}

#email, #username, #password {
    margin-bottom: 1rem;
    width: 20rem;
    border: 0.3rem solid var(--secondary-color);
    border-radius: 0.625rem;
    padding: 1rem 1.5rem;

    font-size: 1rem;
}

#email:focus, #username:focus, #password:focus {
    border-color: var(--tertiary-color);
    outline: none;
}

.submit-button {
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;

    margin: 0 auto;
    border: none;
    border-radius: 0.625rem;
    width: 23.5rem;
    height: 3.3rem;
    background-color: var(--secondary-color);

    text-align: center;
    color: var(--font-color);
}

.submit-button:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/* Responsive styles for screens with a max width of 768px (e.g., tablets) */
@media (max-width: 768px) {
    .register-form {
        margin-bottom: 5.25rem;
        border-radius: 1.406rem;
        max-width: 22.5rem;
        padding-bottom: 1.5rem;

        h1 {
            padding-top: 1.5rem;

            font-size: 2.1rem;
        }

        h4 {
            font-size: 0.75rem;
        }
    }

    .form-input {
        width: 18rem;
    }

    #email, #username, #password {
        margin-bottom: 0.75rem;
        border: 0.225rem solid var(--secondary-color);
        border-radius: 0.469rem;
        width: 15rem;
        padding: 0.75rem 1.125rem;

        font-size: 0.75rem;
    }
    
    .submit-button {
        border-radius: 0.469rem;
        width: 17.625rem;
        height: 2.475rem;

        font-size: 0.75rem;
    }
}

/* Responsive styles for screens with a max width of 480px (e.g., mobile phones) */
@media (max-width: 480px) {
    .register-form {
        margin-bottom: 3.5rem;
        border-radius: 0.938rem;
        max-width: 15rem;
        padding-bottom: 1rem;

        h1 {
            padding-top: 1rem;

            font-size: 1.4rem;
        }

        h4 {
            font-size: 0.5rem;
        }
    }

    .form-input {
        width: 12rem;
    }

    #email, #username, #password {
        margin-bottom: 0.5rem;
        border: 0.15rem solid var(--secondary-color);
        border-radius: 0.313rem;
        width: 10rem;
        padding: 0.5rem 0.75rem;

        font-size: 0.5rem;
    }
    
    .submit-button {
        border-radius: 0.313rem;
        width: 11.75rem;
        height: 1.65rem;

        font-size: 0.5rem;
    }
}